/node_modules
/build

# Keep environment variables out of version control
.env
.env.test
.env.dev
.env.prod

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Database local files
/prisma/dev.db
/prisma/dev.db-journal
/prisma/test_*.db
/prisma/test_*.db-journal

# Log files
/logs
